* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   }
  
  
  html{
    scroll-behavior: smooth; 
  }
  
  body{
      min-height: 100vh;
      margin: 0;
      padding: 0;
  }
  
  
  .container {
      max-width: 1440px;
      margin: 0 auto;
    }
  
  
  /*------------header-----------*/

  .header{
    background: linear-gradient(to left, darkblue ,antiquewhite 100%);
    background-position: 0 100%;
    width: 100%;
    
  }
  .nav-list {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style: none;
      padding:0 20px;
      line-height: 60px;
  
    }
    .nav-item{
      padding: 5px;
  
    }
    .nav-item a{
      color: antiquewhite;
      transition: color 0.5s;
      text-decoration: none;
    }
    .nav-item a:hover{
      color:indigo;
    }
  
    html {
      background-image: url(./img/-.jpg);
      background-attachment: fixed;
      background-position: 0 0;
      background-size: 45vw 100%;
      background-repeat: no-repeat;
    }
    
    /*---------main-------*/
    .fon_img{

      
      background-position: 0 0;
      background-size: 50vw 100%;
      background-repeat: no-repeat;

    }

      
      .section{
        color: darkblue;
        width: 720px;
        font-style:oblique ;
      
      }
  
      .h1{
        background: linear-gradient(to left,darkblue , antiquewhite 100%);
        background-position: 0 100%;
        background-size: 100% 3px;
        background-repeat: repeat-x;
        color: darkblue;
      }
      .section_profile{
        color: darkblue;
      }
      .img-main{
        border-radius: 60%;
        width: 600px;
        height: 600px;
      }
      .section-title{
        font-size: 32px;
        color: darkblue;
      }
      
      .img-stepik{
        width: 350px;
        height: 200px;
        border-style: solid;
        border-color: darkblue;
      }
      
      /*-------контакты-------*/
      
      

      .section a{
          color: darkblue;
          transition: color 0.5s;
          text-decoration: none;
        }
        .section a:hover{
          color:antiquewhite;
      
      }

      .container_1 {
        display: flex;
        flex-wrap: wrap;
      }
      
      .section {
        width: 50%;
      }



      /*--------footer----------*/
      .footer {
        padding: 20px; 
        background: linear-gradient(to left, darkblue ,antiquewhite 100%);
        background-position: 0 100%;
        width: 100%; 
      }

      .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        color: darkblue;
      }
      
      .github {
        color: darkblue;
        text-decoration: none;
        line-height: 45px;
      }
      
      .rss {
        width: 121px;
        height: 45px;
        background-image: url("./icon/rs_school_js.ico");
        background-size: contain;
        background-repeat: no-repeat;
      }
